    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Us</h2>
              <p class="lead">The Woodlawn Chamber of Commerce is dedicated to promoting and supporting business development in order to improve the quality of life of Woodlawn residents. The Chamber is a business advocacy, education and support organization that works in partnership with its members, residents and local officials to increase economic development and competitiveness for the Woodlawn community. We seek business and residential input that informs development that will improve our neighborhood for residents across all socioeconomic levels.</p>
              <h2>Our Mission</h2>
              <p class="lead">The Woodlawn Chamber of Commerce was formed to build community knowledge, wealth, and well-being through business ownership, employment, business district beautification, non-profit stewardship, and stakeholder research.  Woodlawn neighbors, students, organizations, officials, and enterprises will coordinate to identify, evaluate and meet the challenges and opportunities of community and economic revitalization.  Through stakeholder input and studies; educational workshops and trainings; new business recruitment and mentoring; employment and resource directories; streetscape, storefront, signage improvements and branding; we will decrease resident unemployment and vacancy blight, increase local and minority-owned businesses, and generally benefit the interest of vibrant life for all in Woodlawn.</p>
              <h2>Our Board</h2>
              <p class="lead">Charles Campbell<br/>Naomi Davis<br/>Byron Freelon<br/>Paul Thomas<br/>Dave Walker</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Our Neighborhood</h2>
              <p class="lead">The Woodlawn Chamber of Commerce operates in the area defined by the northern boundary of 61stStreet, southern boundary of 67th Street, the eastern boundary of Stony Island Avenue, and the western boundary of Martin Luther King Drive.</p>
              <br/>
            </div>
        </div>
        <img src="../img/woodlawn-map.png" class="img-responsive">
        </br>
    </section>
    
