    <!-- Donate Section -->
    <section id="donate" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Donate</h2>
              <p class="lead">The Woodlawn Chamber of Commerce is a 501(c)(3) non-profit corporation whose goal is to build the Woodlawn neighborhood through business development and entrepreneurial training and support. Donations are tax deductible.</p>
              <br/>
              <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-check fa-fw"></i> <span class="network-name">Donate</span></a>
              <br/>
              <br/>
            </div>
        </div>
    </section>
